.footer-navigation
	.footer-navigation-item
		.footer-nav
			h4 Навигация
			ul
				li
					a(href="#") Главная
				li
					a(href="") Продукция
				li
					a(href="") Оборудование
				li
					a(href="") Цвет
				li
					a(href="") Материалы
				li
					a(href="") Контакты

	.footer-navigation-item
		h4 Контакты
		address
			a(href="#") Адрес: г. Москва, Тверская, 36
			a(href="#") Телефон: +7 (495) 765-52-56
			a(href="#") e-mail: info@grossmetall.ru
		
		.social
			.soc-item.fb
			.soc-item.in

.copyright
	.copyright-inner Москва 2018

	script(src="./js/main.min.js")
	//- script(src="//code.jquery.com/jquery-1.11.0.min.js")
	//- script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")