#site-wrapper {
	width: 100%;
	height: 100%;
}

//content container
.container {
	@include container(0, 0);
}

//content container vertical padding
.container-padding {
	@include container;
}

#site-wrapper {
	background-image: url(/img/bg-image.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}
//-----------
// navigation
//-----------
.main-nav {
	display: none;
}

//-----------
// social
//-----------


//-----------
// information
//-----------
#site-main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 2rem;
}

.info {
	margin: 0 auto;
	margin-top: 15rem;
	height: 40rem;
	text-align: center;
	&-logo {
		& img {
			display: block;
		}
		max-width: 50rem;
	}
	&-text {
		text-transform: uppercase;
		& h2 {
			letter-spacing: .5rem;
		}
	}
	&-address {
		margin: 0 auto;
		& span {
			display: block;
			font-size: 2rem;
			& a {
				color: ac(text);
				padding-right: 1rem;
			}
		}
	}
}

@media (min-width: $b-large) {
	.info {
		margin-top: 10rem;
	}
}
