nav.nav-mob
	.close-btn
	ul
		//- li.active
		//- 	a(href="index.html") Главная
		li
			a(href="/img/menu.pdf" target="_blanck") Меню
		//- li
		//- 	a(href="services.html") Барная карта
		//- li
		//- 	a(href="equipment.html") Галерея
		//- li
		//- 	a(href="materials.html") Контакты

		//- https://www.facebook.com/megobari15/