nav.nav-screen
	ul
		li.current_page_item
			a(href="index.html") Главная
		li
			a(href="production.html") Продукция
		li
			a(href="services.html") Услуги
		li
			a(href="equipment.html") Оборудование
		li
			a(href="materials.html") Материалы
		li
			a(href="colors.html") Цветовые решения
		li
			a(href="portfolio.html") Объекты
		li
			a(href="contacts.html") Контакты