nav.nav-screen
	ul
		//- li.active
		//- 	a(href="index.html") Главная
		li.current_page_item
			a(href="/img/menu.pdf" target="_blanck") Меню
		//- li
		//- 	a(href="services.html") Барная карта
		//- li
		//- 	a(href="equipment.html") Галерея
		//- li
		//- 	a(href="materials.html") Контакты

		//- https://www.facebook.com/megobari15/