.header-mid
	a(href="index.html").logo
		//- logo
		img( src="./img/assets/brand/logo-b.png", srcset="./img/assets/brand/logo-b@2x.png", alt="Grossmetall")
	.nav
		//- mobile navigarion full screen 
		include nav-mob
		#nav-open-btn.nav-open-btn
		include nav-screen

.breadcrumbs
	p#breadcrumbs
		span
			span
				a(href="#") Главная
			span Главная